In [20]:
import pandas as pd
df1 = pd.read_csv('https://raw.githubusercontent.com/houleye45/group3_week4_project/main/data/clean/cleaned_fastfood_df.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/houleye45/group3_week4_project/main/data/clean/cleaned_general_food_df1_to_5.csv')

In [21]:
#Converting numerical values to float 
df1[df1.select_dtypes(include='number').columns] = df1.select_dtypes(include='number').astype(float)

In [22]:
df1.dtypes

Unnamed: 0         float64
restaurant          object
food_name           object
calories_kcal      float64
total_fat_g        float64
saturated_fat_g    float64
cholesterol_mg     float64
sodium_g           float64
carbohydrates_g    float64
fiber_g            float64
sugar_g            float64
protein_g          float64
vitamin_A_mg       float64
vitamin_C_mg       float64
calcium_mg         float64
dtype: object

In [23]:
#Converting numerical values to float 
df2[df2.select_dtypes(include='number').columns] = df2.select_dtypes(include='number').astype(float)

In [24]:
df2.dtypes

Unnamed: 0         float64
food_name           object
calories_kcal      float64
total_fat_g        float64
saturated_fat_g    float64
cholesterol_mg     float64
sodium_g           float64
carbohydrates_g    float64
fiber_g            float64
sugar_g            float64
protein_g          float64
vitamin_A_mg       float64
vitamin_C_mg       float64
calcium_mg         float64
dtype: object

In [25]:
#Adding column "cateopry"

df1['category'] = "Fast Food"
df2['category'] = "General Food"

In [26]:
df1.columns

Index(['Unnamed: 0', 'restaurant', 'food_name', 'calories_kcal', 'total_fat_g',
       'saturated_fat_g', 'cholesterol_mg', 'sodium_g', 'carbohydrates_g',
       'fiber_g', 'sugar_g', 'protein_g', 'vitamin_A_mg', 'vitamin_C_mg',
       'calcium_mg', 'category'],
      dtype='object')

In [27]:
df1 = df1.drop(["Unnamed: 0"], axis = 1)
df2 = df2.drop(["Unnamed: 0"], axis = 1)

In [28]:
df_food = pd.concat([df1, df2], ignore_index=True)

In [29]:
df_food.columns

Index(['restaurant', 'food_name', 'calories_kcal', 'total_fat_g',
       'saturated_fat_g', 'cholesterol_mg', 'sodium_g', 'carbohydrates_g',
       'fiber_g', 'sugar_g', 'protein_g', 'vitamin_A_mg', 'vitamin_C_mg',
       'calcium_mg', 'category'],
      dtype='object')

In [ ]:
df_food.head()

,restaurant,food_name,calories_kcal,total_fat_g,saturated_fat_g,cholesterol_mg,sodium_g,total_carb,fiber_g,sugar_g,protein_g,vitamin_A_mg,vitamin_C_mg,calcium_mg,category,carbohydrates_g
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,7.0,2.0,95.0,1110.0,44.0,3.0,11.0,37.0,4.0,20.0,20.0,General Food,NaN
1,Mcdonalds,Single Bacon Smokehouse Burger,840,45.0,17.0,130.0,1580.0,62.0,2.0,18.0,46.0,6.0,20.0,20.0,General Food,NaN
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,67.0,27.0,220.0,1920.0,63.0,3.0,18.0,70.0,10.0,20.0,50.0,General Food,NaN
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,31.0,10.0,155.0,1940.0,62.0,2.0,18.0,55.0,6.0,25.0,20.0,General Food,NaN
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,45.0,12.0,120.0,1980.0,81.0,4.0,18.0,46.0,6.0,20.0,20.0,General Food,NaN

In [30]:
df_food.isna().sum()

restaurant         2395
food_name             0
calories_kcal         0
total_fat_g           0
saturated_fat_g       0
cholesterol_mg        0
sodium_g              0
carbohydrates_g       0
fiber_g               0
sugar_g               0
protein_g             0
vitamin_A_mg          0
vitamin_C_mg          0
calcium_mg            0
category              0
dtype: int64

In [31]:
df_food = df_food.fillna('Not Fast Food')
df_food.isna().sum()

restaurant         0
food_name          0
calories_kcal      0
total_fat_g        0
saturated_fat_g    0
cholesterol_mg     0
sodium_g           0
carbohydrates_g    0
fiber_g            0
sugar_g            0
protein_g          0
vitamin_A_mg       0
vitamin_C_mg       0
calcium_mg         0
category           0
dtype: int64

In [33]:
df_food = df_food.apply(lambda x: x.str.replace('Â®', '', regex=False) if x.dtype == "object" else x)

In [37]:
df_food.to_csv('df_food_combine_dataset', index=True)